@use "modules/vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  width: 100vw;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark {
  background-color: darken(vars.$back-color, 75%);
  color: lighten(vars.$text-color, 50%);
  font-size: 1.8rem;
}

body {
  @extend .dark;
  color: vars.$text-color;
  background-color: vars.$back-color;
}

h1 {
  margin: 1rem;
}

#button {
  width: 5vw;
}

button {
  padding: 1rem;
  font-size: 1.9rem;
}

/* article */
#article {
  width: 50vw;
  border: #{vars.$border}px solid #9b9696;
  border-radius: 0.8rem;
  margin: 2rem auto;
  padding: 2rem;
}

#resume {
  margin: 1rem;
}

#image {
  width: 27vw;
  margin-left: 20rem;
}

#date {
  margin: 0.8rem;
  display: block;
}

#author {
  @extend #date;
  font-weight: bold;
  font-size: 1.8rem;
}






